In [2]:
import os
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
from string import punctuation
stuff_to_be_removed = list(stopwords.words("english"))+list(punctuation)
from nltk.tokenize import word_tokenize
from nltk.stem.lancaster import LancasterStemmer
lancaster_stemmer = LancasterStemmer()
stemmer = LancasterStemmer()

In [3]:
os.chdir('C:\\Users\\Devendra Morajkar\\Desktop\\Python class\\NLP')

In [4]:
#TEST DATA
test = [
   ('The beer was good.', 'pos'),
   ('I do not enjoy my job', 'neg'),
   ("I ain't feeling dandy today.", 'neg'),
   ("I feel amazing!", 'pos'),
   ('Gary is a friend of mine.', 'pos'),
   ("I can't believe I'm doing this.", 'neg')
]

In [5]:
#TRAIN DATA
train = [('I love this sandwich.', 'pos'),
  ('This is an amazing place!', 'pos'),
  ('I feel very good about these beers.', 'pos'),
  ('This is my best work.', 'pos'),
  ("What an awesome view", 'pos'),
  ('I do not like this restaurant', 'neg'),
  ('I am tired of this stuff.', 'neg'),
  ("I can't deal with this", 'neg'),
  ('He is my sworn enemy!', 'neg'),
  ('My boss is horrible.', 'neg')]

In [6]:
train = pd.DataFrame(train, columns = ['sentence','sentiment'])
test = pd.DataFrame(test, columns = ['sentence','sentiment'])

In [7]:
train

                              sentence sentiment
0                I love this sandwich.       pos
1            This is an amazing place!       pos
2  I feel very good about these beers.       pos
3                This is my best work.       pos
4                 What an awesome view       pos
5        I do not like this restaurant       neg
6            I am tired of this stuff.       neg
7               I can't deal with this       neg
8                He is my sworn enemy!       neg
9                 My boss is horrible.       neg

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le = LabelEncoder()

In [10]:
train['sentiment'] = le.fit_transform(train['sentiment'])
test['sentiment'] = le.fit_transform(test['sentiment'])

In [11]:
train

                              sentence  sentiment
0                I love this sandwich.          1
1            This is an amazing place!          1
2  I feel very good about these beers.          1
3                This is my best work.          1
4                 What an awesome view          1
5        I do not like this restaurant          0
6            I am tired of this stuff.          0
7               I can't deal with this          0
8                He is my sworn enemy!          0
9                 My boss is horrible.          0

In [21]:
train_corpus = train['sentence'].tolist()
test_corpus = test['sentence'].tolist()
train_label = train['sentiment'].tolist()
test_label = test['sentiment'].tolist()

In [25]:
data = train_corpus+test_corpus
label = train_label+test_label

In [14]:
data

['I love this sandwich.',
 'This is an amazing place!',
 'I feel very good about these beers.',
 'This is my best work.',
 'What an awesome view',
 'I do not like this restaurant',
 'I am tired of this stuff.',
 "I can't deal with this",
 'He is my sworn enemy!',
 'My boss is horrible.',
 'The beer was good.',
 'I do not enjoy my job',
 "I ain't feeling dandy today.",
 'I feel amazing!',
 'Gary is a friend of mine.',
 "I can't believe I'm doing this."]

In [15]:
corpus = data

In [16]:
import nltk
nltk.download('stopwords')
import nltk
nltk.download('punkt')

[nltk_data] Downloading package stopwords to C:\Users\Devendra
[nltk_data]     Morajkar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\Devendra
[nltk_data]     Morajkar\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [17]:
final_corpus= []
for i in range(len(corpus)):
    text = word_tokenize(corpus[i].lower())
    text = [lancaster_stemmer.stem(y) for y in text if y not in stuff_to_be_removed]
    sent = " ".join(text)
    final_corpus.append(sent)

In [18]:
final_corpus

['lov sandwich',
 'amaz plac',
 'feel good beer',
 'best work',
 'awesom view',
 'lik resta',
 'tir stuff',
 "ca n't deal",
 'sworn enemy',
 'boss horr',
 'beer good',
 'enjoy job',
 "ai n't feel dandy today",
 'feel amaz',
 'gary friend min',
 "ca n't believ 'm"]

In [23]:
new_df = pd.DataFrame(final_corpus, columns = ['sentence'])

In [26]:
new_df['sentiment'] = label

In [27]:
new_df

                   sentence  sentiment
0              lov sandwich          1
1                 amaz plac          1
2            feel good beer          1
3                 best work          1
4               awesom view          1
5                 lik resta          0
6                 tir stuff          0
7               ca n't deal          0
8               sworn enemy          0
9                 boss horr          0
10                beer good          1
11                enjoy job          0
12  ai n't feel dandy today          0
13                feel amaz          1
14          gary friend min          1
15         ca n't believ 'm          0

In [29]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [30]:
cv = CountVectorizer()
tfidf = TfidfVectorizer()

In [31]:
vector = tfidf.fit_transform(new_df['sentence'])

In [36]:
X = pd.DataFrame(vector.toarray(), columns=list(tfidf.get_feature_names()))

In [37]:
X

,ai,amaz,awesom,beer,believ,best,boss,ca,dandy,deal,...,min,plac,resta,sandwich,stuff,sworn,tir,today,view,work
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.656740,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.754117,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.597543,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107
4,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.707107,0.000000,0.707107,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.65674,0.000000,0.754117,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.00000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.526517,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.526517,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.526517,0.000000,0.000000
13,0.000000,0.745218,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.57735,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.754117,0.000000,0.000000,0.65674,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [54]:
y = new_df['sentiment']

In [53]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score, classification_report
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression

In [55]:
rf = RandomForestClassifier(random_state=42)
gnb = GaussianNB()
svm = LinearSVC(random_state=42)
log_reg = LogisticRegression(random_state=42)

In [56]:
X_train,X_test,y_train,y_test = tts(X,y,test_size = 0.25,random_state=42)

In [57]:
rf.fit(X_train,y_train)
rf.score(X_test,y_test)

C:\Users\Devendra Morajkar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.25

In [61]:
log_reg.fit(X_train,y_train)
print (log_reg.score(X_test,y_test))
gnb.fit(X_train,y_train)
print (gnb.score(X_test,y_test))
svm.fit(X_train,y_train)
print (svm.score(X_test,y_test))

0.25
0.75
0.5

C:\Users\Devendra Morajkar\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [63]:
df = pd.read_pickle('first_pickle.pkl')

In [64]:
df.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,3/12/2014,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,M&T BANK CORPORATION,MI,48382,NaN,NaN,Referral,3/17/2014,Closed with explanation,Yes,No,759217
1,10/1/2016,Credit reporting,NaN,Incorrect information on credit report,Account status,I have outdated information on my credit repor...,Company has responded to the consumer and the ...,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",AL,352XX,NaN,Consent provided,Web,10/5/2016,Closed with explanation,Yes,No,2141773
2,10/17/2016,Consumer Loan,Vehicle loan,Managing the loan or lease,NaN,I purchased a new car on XXXX XXXX. The car de...,NaN,"CITIZENS FINANCIAL GROUP, INC.",PA,177XX,Older American,Consent provided,Web,10/20/2016,Closed with explanation,Yes,No,2163100
3,6/8/2014,Credit card,NaN,Bankruptcy,NaN,NaN,NaN,AMERICAN EXPRESS COMPANY,ID,83854,Older American,NaN,Web,6/10/2014,Closed with explanation,Yes,Yes,885638
4,9/13/2014,Debt collection,Credit card,Communication tactics,Frequent or repeated calls,NaN,NaN,"CITIBANK, N.A.",VA,23233,NaN,NaN,Web,9/13/2014,Closed with explanation,Yes,Yes,1027760

In [65]:
df.shape

(903983, 18)

In [66]:
df = df[['Consumer complaint narrative','Product']]

In [67]:
df.head()

                        Consumer complaint narrative           Product
0                                                NaN          Mortgage
1  I have outdated information on my credit repor...  Credit reporting
2  I purchased a new car on XXXX XXXX. The car de...     Consumer Loan
3                                                NaN       Credit card
4                                                NaN   Debt collection

In [68]:
df.Product.value_counts()

Mortgage                                                                        242194
Debt collection                                                                 171567
Credit reporting                                                                140424
Credit card                                                                      89190
Bank account or service                                                          86207
Credit reporting, credit repair services, or other personal consumer reports     59186
Student loan                                                                     38612
Consumer Loan                                                                    31608
Credit card or prepaid card                                                      11921
Checking or savings account                                                       9947
Payday loan                                                                       5546
Money transfers                                                                   5354
Prepaid card                                                                      3819
Vehicle loan or lease                                                             2873
Payday loan, title loan, or personal loan                                         2245
Money transfer, virtual currency, or money service                                2213
Other financial service                                                           1059
Virtual currency                                                                    18
Name: Product, dtype: int64

In [69]:
df = df.dropna()

In [70]:
df.isnull().sum()

Consumer complaint narrative    0
Product                         0
dtype: int64

In [71]:
df['Product'] = le.fit_transform(df['Product'])

In [72]:
df.head()

                         Consumer complaint narrative  Product
1   I have outdated information on my credit repor...        5
2   I purchased a new car on XXXX XXXX. The car de...        2
7   An account on my credit report has a mistaken ...        5
12  This company refuses to provide me verificatio...        7
16  This complaint is in regards to Square Two Fin...        7

In [73]:
df.shape

(199970, 2)

In [74]:
train = df['Consumer complaint narrative'].tolist()

In [76]:
final_corpus= []
for i in range(len(train)):
    text = word_tokenize(train[i].lower())
    text = [lancaster_stemmer.stem(y) for y in text if y not in stuff_to_be_removed]
    sent = " ".join(text)
    final_corpus.append(sent)

KeyboardInterrupt:

In [77]:
df_sampled = df.sample(n=20000,random_state=42,replace=False)

In [78]:
df_sampled.shape

(20000, 2)

In [80]:
df_sampled.head()

                             Consumer complaint narrative  Product
557459  I pay {$400.00} a month on a {$60000.00} loan....       15
400201  XXXX filed a lawsuit which I did not contest a...        7
885633  I agreed to a payment plan with AR resources I...        7
84616   XXXX has repeatedly failed to process informat...       15
3773    I went to XXXX in XXXX, WA for the Winter Quar...       15

In [93]:
train = df_sampled['Consumer complaint narrative'].tolist()
label = df_sampled['Product'].tolist()

In [97]:
final_corpus= []
for i in range(len(train)):
    text = word_tokenize(train[i].lower())
    text = [lancaster_stemmer.stem(y) for y in text if y not in stuff_to_be_removed]
    text = [t for t in text if not any(c.isdigit() for c in t)]
    sent = " ".join(text)
    final_corpus.append(sent)

In [98]:
new_df = pd.DataFrame(final_corpus, columns = ['Consumer complaint Narrative'])

In [99]:
new_df['Product'] = label

In [100]:
new_df.head()

                        Consumer complaint Narrative  Product
0  pay mon loan goe toward princip goe toward int...       15
1  xxxx fil lawsuit contest cal set pay attorney ...        7
2  agree pay plan ar resourc inc. start xxxx xxxx...        7
3  xxxx rep fail process inform regard stud loan ...       15
4  went xxxx xxxx wa wint quart xxxx week xxxx wi...       15

In [101]:
cv = CountVectorizer()
tfidf = TfidfVectorizer()

In [102]:
vector = tfidf.fit_transform(new_df['Consumer complaint Narrative'])

In [103]:
X = pd.DataFrame(vector.toarray(), columns=list(tfidf.get_feature_names()))

In [104]:
y = new_df['Product']

In [105]:
X_train,X_test,y_train,y_test = tts(X,y,test_size = 0.25,random_state=42)

In [107]:
gnb.fit(X_train,y_train)
print (gnb.score(X_test,y_test))

0.3006

In [108]:
X.shape

(20000, 16950)

In [109]:
y.shape

(20000,)

In [110]:
mn = MultinomialNB()

In [111]:
mn.fit(X_train,y_train)
print(mn.score(X_test,y_test))

0.554

In [112]:
y_pred = mn.predict(X_test)

In [113]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.94      0.20      0.34       376
           1       0.00      0.00      0.00        55
           2       1.00      0.00      0.01       226
           3       0.70      0.23      0.34       445
           4       0.00      0.00      0.00        93
           5       0.68      0.64      0.66       802
           6       1.00      0.01      0.02       368
           7       0.49      0.95      0.64      1186
           8       0.00      0.00      0.00        10
           9       0.00      0.00      0.00        29
          10       0.54      0.94      0.69       918
          11       0.00      0.00      0.00         4
          12       0.00      0.00      0.00        44
          13       0.00      0.00      0.00        20
          14       0.00      0.00      0.00        43
          15       0.99      0.21      0.34       355
          16       0.00      0.00      0.00        26

    accuracy                           0.55      5000
   macro avg       0.37      0.19      0.18      5000
weighted avg       0.64      0.55      0.47      5000

C:\Users\Devendra Morajkar\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)