In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [4]:
df.shape

(50, 5)

In [5]:
df['State'].value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

In [6]:
df.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [15]:
df = pd.get_dummies(df)

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
lin_reg = LinearRegression(normalize=True)

In [18]:
from sklearn.model_selection import train_test_split as tts

In [19]:
x = df.drop(['Profit'],1)
y = df['Profit']

In [20]:
x_train, x_test, y_train, y_test = tts(x,y,test_size= 0.3, random_state = 42)

In [21]:
lin_reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [22]:
y_pred = lin_reg.predict(x_test)

In [23]:
from sklearn.metrics import r2_score

In [24]:
r2_score(y_test,y_pred)

0.9397108063355787