In [3]:
import os
import pandas as pd
import numpy as np

In [4]:
Country = ['India','Afghanistan','China','Egypt','Germany']

In [5]:
Capital = ['New Delhi','Kabul','Beijing','Cairo','Berlin']

In [16]:
# Print numbers from 1 to 100 which is divisble by 3 and 4
num_1 = range(1,101)
list_1 =[]
for x in num_1:
    if x%3==0 and x%4==0:
        list_1.append(x)
    
list_1

[12, 24, 36, 48, 60, 72, 84, 96]

In [17]:
# Print numbers from 1 to 100 which is divisble by 3 and 4, List comprehension
list_1 = [x for x in num_1 if x%3==0 and x%4==0]
list_1

[12, 24, 36, 48, 60, 72, 84, 96]

In [31]:
prime_number = []

In [40]:
# Prime Nuumbers
prime_nums=[]
for x in num_1:
   count=0
   for i in range(1,x+1):
       if x%i==0:
           count=count+1
   if count==2:
       prime_nums.append(x)
prime_nums

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [49]:
#  Print even numbers and odd numbers squared from 1 to 100
evens = []
for i in range(1,101):
    if i%2==0:
        evens.append(i)
    else:
        evens.append(i*i)
evens

[1,
 2,
 9,
 4,
 25,
 6,
 49,
 8,
 81,
 10,
 121,
 12,
 169,
 14,
 225,
 16,
 289,
 18,
 361,
 20,
 441,
 22,
 529,
 24,
 625,
 26,
 729,
 28,
 841,
 30,
 961,
 32,
 1089,
 34,
 1225,
 36,
 1369,
 38,
 1521,
 40,
 1681,
 42,
 1849,
 44,
 2025,
 46,
 2209,
 48,
 2401,
 50,
 2601,
 52,
 2809,
 54,
 3025,
 56,
 3249,
 58,
 3481,
 60,
 3721,
 62,
 3969,
 64,
 4225,
 66,
 4489,
 68,
 4761,
 70,
 5041,
 72,
 5329,
 74,
 5625,
 76,
 5929,
 78,
 6241,
 80,
 6561,
 82,
 6889,
 84,
 7225,
 86,
 7569,
 88,
 7921,
 90,
 8281,
 92,
 8649,
 94,
 9025,
 96,
 9409,
 98,
 9801,
 100]

In [55]:
#  Print even numbers and odd numbers squared from 1 to 100, list comprehension
ar = [(i if i % 2 == 0 else (i**2 if i % 2 != 0 else i)) for i in range(1, 101)]
ar

[1,
 2,
 9,
 4,
 25,
 6,
 49,
 8,
 81,
 10,
 121,
 12,
 169,
 14,
 225,
 16,
 289,
 18,
 361,
 20,
 441,
 22,
 529,
 24,
 625,
 26,
 729,
 28,
 841,
 30,
 961,
 32,
 1089,
 34,
 1225,
 36,
 1369,
 38,
 1521,
 40,
 1681,
 42,
 1849,
 44,
 2025,
 46,
 2209,
 48,
 2401,
 50,
 2601,
 52,
 2809,
 54,
 3025,
 56,
 3249,
 58,
 3481,
 60,
 3721,
 62,
 3969,
 64,
 4225,
 66,
 4489,
 68,
 4761,
 70,
 5041,
 72,
 5329,
 74,
 5625,
 76,
 5929,
 78,
 6241,
 80,
 6561,
 82,
 6889,
 84,
 7225,
 86,
 7569,
 88,
 7921,
 90,
 8281,
 92,
 8649,
 94,
 9025,
 96,
 9409,
 98,
 9801,
 100]

In [56]:
# Function basics
def sum_1(a,b):
    print(a+b)

sum_1(2,3)

5

In [57]:
# *args and **kwargs
def multiply_num(*s):
    a = 0
    for i in s:
        a+=i
    print(a)

In [58]:
multiply_num(1,2,3,4,5)

15

In [59]:
multiply_num(2,3,4)

9

In [60]:
multiply_num()

0

In [61]:
#  Looping to dictionary
c= {'a':1,'b':2}

for x in c:
    print(x)

a
b

In [62]:
for x in c.items():
    print(x)

('a', 1)
('b', 2)

In [63]:
for x in c.items():
    print(x[0],x[1])

a 1
b 2

In [64]:
#  add and remove element to set
l = [1,2,3,3,4,'a','a']
c = set(l)
c

{1, 2, 3, 4, 'a'}

In [65]:
c.add('b')
c

{1, 2, 3, 4, 'a', 'b'}

In [66]:
c.remove(3)

In [67]:
c

{1, 2, 4, 'a', 'b'}

In [68]:
# enumerate 
Country = ['India','Afghanistan','China','Egypt','Germany']
for i,x in enumerate(Country):
    print(i,x)

0 India
1 Afghanistan
2 China
3 Egypt
4 Germany

In [71]:
# Map function
l = list(range(5,12))

def squared(l):
    return l**2

import time
start = time.time()
list(map(squared,l))
end = time.time()
print(end-start)

0.0010001659393310547

In [77]:
# Lambda function is used only for simple operation not for complex data function

squared_num = lambda num:num**2
squared_num(1)

1